<div class="form-container">
    <h1>Login</h1>
    <p>fill the form with your information, please</p>
    <br><br>
    <form class="form" action="" method="POST">

        <div class="form-box input-username">
            <label for="username">Username:</label>
            <input autofocus type="text" name="username">
        </div>

        <div class="form-box input-pass">
            <label for="password">Password:</label>
            <input type="password" name="password">
        </div>

        <input class="submit" type="submit" value="Login">
    </form>
</div>