.nav-container {
    display: block;
    background-color: lightgrey;
    width: 100%;
    height: 80px;
}

.nav {
    padding: 10px 2px;
}

.nav-link {
    display: inline-block;
    margin: 10px 20px;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: teal;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: rgb(0, 223, 223);
    color: black;
}

.create-btn {
    background-color: darkred;
    color: white;
}
.create-btn:hover {
    background-color: rgb(255, 119, 119);
    color: black;
}

.login-btn,
.register-btn,
.logout-btn {
    float: right;
}

.greeting {
    float: right;
    margin: 10px 20px;
    padding: 4px 8px;
    font-weight: 700;
    font-size: 24px;
}

.greeting-username {
    text-decoration: none;
    color: black;
}