.cats-container {

}

.cat-img {
    max-width: 280px;
    max-height: 160px;
}

h1 {
    text-align: center;
}

a {
    color: darkred;
    text-decoration: none;
}

.cat-card {
    display: inline-block;
    margin: 3rem 3rem;
    padding: 1rem 1rem;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 1.5em 2px black;
    text-align: center;
}

.cat-card:hover {
    border: 2px solid rgb(116, 0, 0);
    box-shadow: 2px 2px 1.5em 2px rgb(116, 0, 0);
}

p {
    margin: 0;
}

.upper {
    font-size: 24px;
    font-weight: 700;
}

.lower {
    font-size: 20px;
}

.nav-link {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding: 4px 8px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: teal;
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    background-color: rgb(0, 223, 223);
    color: black;
}